.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    border: 1px solid black;
    text-align: center;
    padding: 1em; 
    margin: 0.5em;
    flex-basis: 10%;
}

.pageHeader {
    text-align: center;
}